body{
    background-color: #FEFFD2;
}
h1{
    color: black; font-size: 32px;
}
h2{
    color: #e6532e; font-size: 24px;
}
p{
    font-size: 20px; color: black; font-family: 'Times New Roman', Times, serif;
}
li{
    font-size: 18px;
}
